Repository MrMaruf/TCI_groupAssignment, changes with the labels that .github/labeler.yml gives for each.
All labels: build, test, automerge

fixing tests
  src/main/java/player/Player.java
  src/test/java/gametests/GameRuleTest.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

fixing tests
  src/test/java/gametests/GameTest.java
Labels: test

Second cycle of TDD for Player.betOnMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

Second/Third cycle of TDD for Game.acceptBet method
  build.gradle
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/Game.java
Labels: build, test

First cycle of TDD for the test
  src/test/java/GameRuleTest.java
Labels: test

Negative tests
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/GameRule.java
  src/test/java/gametests/GameTest.java
Labels: build, test

First cycle of TDD for Game.startbettinground method
  src/test/java/GameTest.java
  src/test/java/gametests/GameTest.java
Labels: test

First cycle of TDD for Game.determinewinner method
  src/test/java/gametests/GameTest.java
Labels: test

Second cycle of TDD for the test of Player.removePlayerCard
  src/main/java/player/Player.java
Labels: build

fixing tests
  src/main/java/player/Player.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Second cycle of TDD for Player.playOnGameMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
Labels: build

Second/Third cycle of TDD for Game.determinewinner method merged together
  src/main/java/casino/game/Game.java
  src/test/java/gametests/GameTest.java
Labels: build, test

First cycle of TDD for Game.acceptBet method
  src/test/java/gametests/GameTest.java
Labels: test

Third cycle of TDD for the test of Player.addPlayerCard added verification whether the card is in the list and if not to throw new illegal argument exception
  src/main/java/player/Player.java
Labels: build

First cycle of TDD for the test Game.startBettingRound (redone, because i didnt read the java dos correctly)
  src/test/java/GameTest.java
Labels: test

First cycle of TDD of gamerule method
  src/test/java/gametests/GameRuleTest.java
Labels: test

Third cycle of TDD for Player.betOnMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
Labels: build

Third cycle of TDD for Player.betOnMachine
  src/main/java/casino/Casino.java
  src/main/java/casino/gamingmachine/GamingMachine.java
Labels: build

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Third cycle of TDD for Game.startbettinground method
  src/main/java/casino/game/Game.java
Labels: build

First cycle of TDD for the test Player.addPlayerCard (redone, because i didnt read the java dos correctly)
  build.gradle
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/Game.java
  src/test/java/GameTest.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

First cycle of TDD for the test of Player.removePlayerCard
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for the test Game.startBettingRound
  src/test/java/GameRuleTest.java
  src/test/java/GameTest.java
Labels: test

Second/Third cycle of TDD for the test Player.addPlayerCard (redone, because i didnt read the java dos correctly)
  src/main/java/casino/cashier/PlayerCard.java
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

First cycle of TDD for Player.playOnGameMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Second cycle of TDD for Game.startbettinground method (even though done before by me)
  src/main/java/casino/game/Game.java
Labels: build

Third cycle of TDD for the test of Player.removePlayerCard added verification whether the card is in the list and if not to throw new illegal argument exception
  src/main/java/player/Player.java
Labels: build

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for the test Game.startBettingRound (redone, because i didnt read the java dos correctly)
  src/test/java/GameTest.java
Labels: test

Second cycle of TDD for Game.determinewinner method
  src/main/java/casino/game/Game.java
Labels: build

First cycle of TDD for Game.acceptBet and Game.isBettingRoundFinished method
  src/test/java/gametests/GameTest.java
Labels: test

first commit of tdd cycle for this method
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/GameRuleTest.java
Labels: build, test

delete
  src/test/java/gametests/GameRuleTest.java
Labels: test

Third cycle of TDD for Player.playOnGameMachine
  src/main/java/player/Player.java
Labels: build

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

fixing tests
  src/test/java/gametests/GameTest.java
Labels: test

Delete test
  test
Labels: none

.github/labeler.yml:

build:
  - src/main/**/*
  - .github/*
  - gradle/*
  - gradlew
  - gradlew.bat
  - build.gradle
  - settings.gradle
test:
  - src/test/**/*
  - build.gradle
automerge:
  - documentation/*
  - .gitignore
  - README.md
