Repository MrMaruf/TCI_groupAssignment, changes with the labels that .github/labeler.yml gives for each.
All labels: build, test, automerge

.github/labeler.yml:

build:
  - src/main/**/*
  - .github/*
  - gradle/*
  - gradlew
  - gradlew.bat
  - build.gradle
  - settings.gradle
test:
  - src/test/**/*
  - build.gradle
automerge:
  - documentation/*
  - .gitignore
  - README.md

GamingMachine acceptWinner Happpy: Updated functionality and tests, still doesn't pass. Will add other tests first
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine connectCard and placeBet: Adding non passing tests. placeBet isn't full yet
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

Third cycle of TDD for Player.betOnMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
Labels: build

Third cycle of TDD for Player.betOnMachine
  src/main/java/casino/Casino.java
  src/main/java/casino/gamingmachine/GamingMachine.java
Labels: build

GamingMachine connectCard: Adding functionality
  src/main/java/casino/gamingmachine/GamingMachine.java
Labels: build

GamingMachine placeBet: Changing test. Still non passing
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine placeBet: Adding functionality. Changing the test a little
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

First cycle of TDD for Player.playOnGameMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Second cycle of TDD for Player.playOnGameMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
Labels: build

GamingMachine acceptWinner: Added non passing tests
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

Third cycle of TDD for Player.playOnGameMachine
  src/main/java/player/Player.java
Labels: build

First cycle of TDD for Game.startbettinground method
  src/test/java/GameTest.java
  src/test/java/gametests/GameTest.java
Labels: test

Second cycle of TDD for Game.startbettinground method (even though done before by me)
  src/main/java/casino/game/Game.java
Labels: build

Third cycle of TDD for Game.startbettinground method
  src/main/java/casino/game/Game.java
Labels: build

First cycle of TDD for Game.determinewinner method
  src/test/java/gametests/GameTest.java
Labels: test

Second cycle of TDD for Game.determinewinner method
  src/main/java/casino/game/Game.java
Labels: build

Second/Third cycle of TDD for Game.determinewinner method merged together
  src/main/java/casino/game/Game.java
  src/test/java/gametests/GameTest.java
Labels: build, test

First cycle of TDD for Game.acceptBet and Game.isBettingRoundFinished method
  src/test/java/gametests/GameTest.java
Labels: test

GamingMachine acceptWInner: functionality added, tests dont pass yet
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

GamingMachine acceptWinner: All tests pass
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

GamingMachine placeBet Negative Cashier: Added non passing test
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine placeBet Negative Cashier: Added Functionality
  src/main/java/casino/gamingmachine/GamingMachine.java
Labels: build

GamingMachine placeBet Negative Cashier: Extended test and implementation functionality
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

GamingMachine placeBet Negative double bet: added test non passing
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine placeBet Negative double bet: added functionality. Test still doesnt pass
  src/main/java/casino/gamingmachine/GamingMachine.java
Labels: build

GamingMachine placeBet Negative double bet: Fixed tests by adding some mocking to set up. All tests pass (all 5)
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine placebet NoPlayerCardException Test: test added
  src/main/java/casino/gamingmachine/IGamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

First cycle of TDD for Game.acceptBet method
  src/test/java/gametests/GameTest.java
Labels: test

Second/Third cycle of TDD for Game.acceptBet method
  build.gradle
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/Game.java
Labels: build, test

GamingMachine placebet NoPlayerCardException Test: added functionality. All tests dont pass because of throws exception
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/main/java/casino/gamingmachine/NoPlayerCardException.java
Labels: build

First cycle of TDD of gamerule method
  src/test/java/gametests/GameRuleTest.java
Labels: test

3rd cycle: GamingMachine placebet NoPlayerCardException Test: Fixed all tests
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

All tests pass. Fixed test comment issues
  src/test/java/casino/cashier/CashierTest.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
  src/test/java/casino/idbuilder/IDBuilderTest.java
Labels: test

GameRule detirmineWinner Happy: added non passing test
  src/test/java/casino/game/GameRuleTest.java
Labels: test

GameRule detirmineWinner Happy: added functionality. Test pass sometimes which is strange
  src/main/java/casino/game/GameRule.java
  src/test/java/casino/game/GameRuleTest.java
Labels: build, test

Negative tests
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/GameRule.java
  src/test/java/gametests/GameTest.java
Labels: build, test

GameRule detirmineWinner Happy: Test pass all the time now. Problem was set doesnt keep order
  src/main/java/casino/game/GameRule.java
  src/test/java/casino/game/GameRuleTest.java
Labels: build, test

GameRule detirmineWinner Negative: Added non passign test
  src/test/java/casino/game/GameRuleTest.java
Labels: test

GameRule detirmineWinner Negative: Added functionality
  src/main/java/casino/game/GameRule.java
Labels: build

delete
  src/test/java/gametests/GameRuleTest.java
Labels: test
