Repository MrMaruf/TCI_groupAssignment, changes with the labels that .github/labeler.yml gives for each.
All labels: build, test, automerge

.github/labeler.yml:

build:
  - src/main/**/*
  - .github/*
  - gradle/*
  - gradlew
  - gradlew.bat
  - build.gradle
  - settings.gradle
test:
  - src/test/**/*
  - build.gradle
automerge:
  - documentation/*
  - .gitignore
  - README.md

updated main workflow because both build and testing are mandatory to be done.
  .github/workflows/pull-request.yml
Labels: none

updated documentation
  documentation/IDFactory_.pdf
Labels: automerge

first commit of tdd cycle for this method
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/GameRuleTest.java
Labels: build, test

Create test
  test
Labels: none

First cycle of TDD for the test
  src/test/java/GameRuleTest.java
Labels: test

First cycle of TDD for the test Game.startBettingRound
  src/test/java/GameRuleTest.java
  src/test/java/GameTest.java
Labels: test

First cycle of TDD for the test Game.startBettingRound (redone, because i didnt read the java dos correctly)
  src/test/java/GameTest.java
Labels: test

First cycle of TDD for the test Game.startBettingRound (redone, because i didnt read the java dos correctly)
  src/test/java/GameTest.java
Labels: test

First cycle of TDD for the test Player.addPlayerCard (redone, because i didnt read the java dos correctly)
  build.gradle
  src/main/java/casino/bet/BettingRound.java
  src/main/java/casino/game/Game.java
  src/test/java/GameTest.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

Second/Third cycle of TDD for the test Player.addPlayerCard (redone, because i didnt read the java dos correctly)
  src/main/java/casino/cashier/PlayerCard.java
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test

First cycle of TDD for the test of Player.removePlayerCard
  src/test/java/playertests/PlayerTest.java
Labels: test

Second cycle of TDD for the test of Player.removePlayerCard
  src/main/java/player/Player.java
Labels: build

Third cycle of TDD for the test of Player.removePlayerCard added verification whether the card is in the list and if not to throw new illegal argument exception
  src/main/java/player/Player.java
Labels: build

Third cycle of TDD for the test of Player.addPlayerCard added verification whether the card is in the list and if not to throw new illegal argument exception
  src/main/java/player/Player.java
Labels: build

IDBuilder: Adding failing tests
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/test/java/IDBuilderTest/IDBuilderTest.java
Labels: build, test

IDBuilder: Adding Functionality so that tests work
  src/main/java/bettingauthoritiyAPI/BetLoggingAuthority.java
  src/main/java/bettingauthoritiyAPI/BetToken.java
  src/main/java/bettingauthoritiyAPI/BetTokenAuthority.java
  src/main/java/bettingauthoritiyAPI/IBetLoggingAuthority.java
  src/main/java/bettingauthoritiyAPI/IBetTokenAuthority.java
  src/main/java/casino/bet/Bet.java
  src/main/java/casino/cashier/IPlayerCard.java
  src/main/java/casino/game/IBettingRound.java
  src/main/java/casino/gamingmachine/IGamingMachine.java
  src/main/java/casino/idbuilder/IDBuilder.java
  src/main/java/casino/idbuilder/ids/BetID.java
  src/main/java/casino/idbuilder/ids/BettingRoundID.java
  src/main/java/casino/idbuilder/ids/CardID.java
  src/main/java/casino/idbuilder/ids/GameID.java
  src/main/java/casino/idbuilder/ids/GamingMachineID.java
  src/main/java/casino/idbuilder/ids/GeneralID.java
  src/main/java/casino/idfactory/IDFactory.java
  src/test/java/IDBuilderTest.java
Labels: build, test

IDBuilder: Fixing test location
  src/test/java/casino/idbuilder/IDBuilderTest.java
Labels: test

Cashier distributePlayerCard Success: Adding failing tests
  src/test/java/casino/cashier/CashierTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Cashier distriburePlayerCard Success: Adding Functionality so that test works
  src/main/java/casino/cashier/Cashier.java
  src/test/java/casino/cashier/CashierTest.java
Labels: build, test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Cashier checkIfBetIsValid and addAmount Happy: Adding non working tests
  src/main/java/casino/cashier/Cashier.java
  src/test/java/casino/cashier/CashierTest.java
Labels: build, test

Cashier addAmount: Adding functionality so that tests work and fixing test
  src/main/java/casino/cashier/Cashier.java
  src/test/java/casino/cashier/CashierTest.java
Labels: build, test

Cashier checkIfBetIsValid Happy: Changing test
  src/test/java/casino/cashier/CashierTest.java
Labels: test

Cashier checkIfBetIsValid Happy: Adding functionality to code so that tests work
  src/main/java/casino/cashier/Cashier.java
  src/test/java/casino/cashier/CashierTest.java
Labels: build, test

Cashier returnGamblerCard: Adding non working tests
  src/test/java/casino/cashier/CashierTest.java
Labels: test

Cashier returnGamblerCard: Adding functionality so that test works. Fixing mistakes in test. Finished Cashier happy tests
  src/main/java/casino/cashier/Cashier.java
  src/test/java/casino/cashier/CashierTest.java
Labels: build, test

Cashier checkIfBetIsValid Negative: Added non passing test
  src/test/java/casino/cashier/CashierTest.java
Labels: test

Cashier checkIfBetIsValid Negative: Added functionality
  src/main/java/casino/cashier/Cashier.java
Labels: build

Cashier addAmount Negative: Added non passing test
  src/test/java/casino/cashier/CashierTest.java
Labels: test

Cashier addAmount Negative: Added functionality
  src/main/java/casino/cashier/Cashier.java
Labels: build

Cashier checkIfBetIsValid Bet Bigger Than Card's Money : Added test, which passes
  src/test/java/casino/cashier/CashierTest.java
Labels: test

First cycle of TDD for Player.betOnMachine
  src/test/java/playertests/PlayerTest.java
Labels: test

Removing needless imports. Cashier tests finished.
  src/test/java/casino/cashier/CashierTest.java
Labels: test

GamingMachine acceptWinner Happpy: Added non passing tests
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: test

GamingMachine acceptWinner Happpy: Updated functionality and tests, still doesn't pass. Will add other tests first
  src/main/java/casino/gamingmachine/GamingMachine.java
  src/test/java/casino/gamingmachine/GamingMachineTest.java
Labels: build, test

Second cycle of TDD for Player.betOnMachine
  src/main/java/player/IPlayer.java
  src/main/java/player/Player.java
  src/test/java/playertests/PlayerTest.java
Labels: build, test
